@page "{id}"
@model HotelManagementApp.Pages.Habitaciones.CheckOutModel
@{
    ViewData["Title"] = "Check Out";
}
<partial name="_ValidationScriptsPartial"></partial>
<partial name="_ValidationSummary" model="ViewData.ModelState"></partial>

<h1 style="color: #1E90FF; text-align: center; margin-bottom: 20px;">Check Out</h1>

<form method="post" style="text-align: center;">
    <button type="submit" class="btn btn-danger" style="background-color: #DC143C; border-color: #DC143C;">Check Out</button>
</form>
