@page
@model HotelManagementApp.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido a la Gestión del Hotel</h1>
    <p class="lead">Utilice la barra de navegación para gestionar habitaciones, reservas y más.</p>
    <hr class="my-4">
    <p>Seleccione una opción del menú para comenzar.</p>
</div>
